{% extends "base.html" %}
{% block content %}
    <h1>Edit Product</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>Product id: {{ form.g_id }}</p>
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32) }}<br>
            {% for error in form.amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.currency.label }}<br>
            {{ form.currency(size=32) }}<br>
            {% for error in form.currency.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image_url.label }}<br>
            {{ form.image_url(size=32) }}<br>
            {% for error in form.image_url.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <p><a href="{{ form.lnk }}">back</a></p>
    </form>
{% endblock %}